body { 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
    background-color: white; 
}

/*------------------------------------/
             BOX-SECTION
/------------------------------------*/
.box {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------/
             SCREEN-SECTION
/------------------------------------*/

.screen {
    position: absolute;
    background-image: linear-gradient(#A1E5E5, #1987AA);
    height: 725px;
    width: 345px;
    margin-top: 8px;
    margin-left: 0px;
    border-radius: 39px;
}

.time {
    font-size: 80px;
    text-align: center;
    color: white;
    margin-top: 105px;
}

.date {
    font-size: 17px;
    text-align: center;
    color: white;
}

.battery {
    position: absolute;
    top: 3px;
    left: 270px;
    font-size: 13px;
}

.battery > div:last-child {
    height: 9px;
    width: 27px;
    border: 1px solid #fff;
    position: absolute;
    top: 4px;
    left: 27px;
    border-radius: 2px;
}

.battery div div:first-child {
    width: 21px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 1px;
  }
  
  .battery div div:last-child {
    width: 1px;
    height: 6px;
    background: #FFF;
    position: absolute;
    left: 29px;
    top: 2px;
    border-radius: 0 1px 1px 0;
  }
/*------------------------------------/
             iPHONE-SECTION
/------------------------------------*/

.iphone {
    height: 760px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transform: rotateX(54deg) rotateZ(-46deg);
    transform-style: preserve-3d;
    perspective: 500px;
}

.iphone--side {
    height: 780px;
    width: 393px;
    background-color: #2D383A; 
    border-top-left-radius     : 77px;
    border-top-right-radius    : 70px;
    border-bottom-right-radius : 86px;
    border-bottom-left-radius  : 49px; 
    box-shadow: inset #CDD0D5 0 0 15px 9px;
}

.iphone--frontframe {
    height: 750px;
    width: 362px;
    margin-left: 30px;
    border-radius: 49px;
    background-image: -webkit-linear-gradient(-27deg, #444, #000 10%, #000 42%, #333, #000 57%, #000 91%, #444);
    box-shadow: inset #000 0 0 0 4px, #555 0px 0 3px 0px, #222 -3px 2px, #000 -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;
}

.iphone--frontcover {
    height: 734px;
    width: 344px;
    margin-top: 8px;
    margin-left: 9px;
    border-radius: 39px;
    background-color: black;
    position: absolute;
}


